$icon-font-path: "../node_modules/@blueprintjs/core/resources/icons";
@import '~@blueprintjs/core/src/blueprint';
@import '~bulma/css/bulma.css';

body, html {
  height: 100%;
}

div#root {
  background: #efefef;
  height: 100%;
}

.select-payment-ccy {
  margin: 0 10px;
  vertical-align: baseline;
}

.input-payment-amount {
  margin: 10px;
}

.currency-flag {
  background-position-x: right;
}

.menu-item-currency-flag {
  padding: 0 0 0 2px!important;
}

strong.ccy {
  margin: 0 10px;
}
